
# 1. Exclude Any thing starting with a period(.)
.*

# 2. Files ending with .pyc
*.pyc


# 3.  Inlcude .gitignore, Always keep it below 1
!.gitignore

# 4. Include github folder and sub folders/files
!.github/

# 5. Dist files
/dist

# 6. Egg-Info files
src/django_migration_inspector.egg-info
